* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.35s linear;
}

$bg-color: #121413;
$main-color: #f09;
// $dark-color: #1d1e1e;

section {
  background-color: $bg-color;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.audio {
  width: 400px;
  height: 480px;
  position: relative;

  .progress {
    position: absolute;
    top: 240px;
    left: 0;
    z-index: 1;

    span {
      // background-color: $dark-color;
      width: 15px;
      height: 15px;
      border-radius: 1px;
      border: none;
      display: block;
      position: absolute;
      transform-origin: 240px;
      transform: rotateZ(calc(var(--i) * 3.6deg));

      &:hover {
        background-color: $main-color;
        opacity: 0.5;
        cursor: pointer;
      }
    }
  }
  .progress span.active {
    background-color: $main-color;
    box-shadow: 0 -10px 10px #fff, 0 -15px 15px #fff, 0 0 42px #f09,
      0 0 82px #f09, 0 0 92px #f09, 0 0 102px #f09, 0 0 151px #f09;
  }

  .info {
    position: absolute;
    z-index: 2;
    width: 420px;
    height: 420px;
    top: 35px;
    left: 30px;
    backdrop-filter: blur(20px) brightness(125%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .thumbnail {
    position: relative;
    width: 150px;
    height: 150px;
    padding: 0.5rem;
    border-radius: 50%;
    border: 3px solid;
    overflow: hidden;
    margin-bottom: 1rem;
    color: $main-color;
    box-shadow: 0 0 15px #f09;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
    .play_pause {
      position: absolute;
      top: 20%;
      left: 22%;
      right: 25%;
      bottom: 25%;
      display: grid;
      font-size: 5rem;
      cursor: pointer;
      transform: scale(2);
      opacity: 0;
      color: white;

      &:hover {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  .volume {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem auto;
    gap: 1rem;

    span {
      width: 25px;
      height: 25px;
      background-color: $main-color;
      color: $main-color;
      display: grid;
      place-content: center;
      border-radius: 50%;
      cursor: pointer;
      user-select: none;
      font-weight: 700;
      transform: scale(1);
      box-shadow: 0 0 15px #f09;
    }
    &:hover span {
      background-color: $bg-color;
      transform: scale(1);
      width: 35px;
      height: 35px;
    }

    .volume-progress {
      width: 150px;
      background-color: $bg-color;
      height: 8px;
      border-radius: 8px;

      .volume-bar {
        width: 50%;
        background-color: $main-color;
        height: 8px;
        border-radius: 8px;
      }
    }
  }

  .speed {
    display: flex;
    align-items: center;
    position: relative;
    transition: 0.5ms;
    padding-bottom: 10px;

    button {
      justify-content: center;
      background-color: $bg-color;
      border: none;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      box-shadow: 0 0 5px #f09;

      i {
        color: $main-color;
        height: 10px;
        width: 20px;
      }

      p {
        color: white;
        font-size: x-small;
        padding-top: 2px;
      }
    }
    .speed-dropdown {
      display: none;
      overflow: auto;

      a {
        text-decoration: none;
        color: white;
        font-size: small;
        padding: 5px;

        &:hover {
          color: $main-color;
          font-size: smaller;
        }
      }
    }

    &:hover .speed-dropdown {
      display: flex;
    }
  }

  .action {
    .song {
      text-align: center;
      margin-block-end: 0.75rem;

      font-size: 1.5rem;
      color: $main-color;

      .name {
        line-height: 2.25rem;
        font-size: 1.5rem;
        font-weight: 600;
      }

      .singer {
        font-size: 1rem;
        font-weight: 500;
        margin-block-start: 0.25rem;
      }
    }
    .time {
      text-align: center;
      color: white;
      padding-bottom: 5px;
    }
  }
}

@media (max-width: 400px) {
  section {
    display: flex;
    justify-self: center;

    .audio {
      height: 300px;
      width: 350px;
      .progress {
        top: 175px;

        span {
          background-color: rgb(27, 27, 27);
          height: 5px;
          width: 15px;
          border-radius: 50%;
          transform-origin: 170px;
        }
      }
      .progress span.active {
        background-color: $main-color;
        box-shadow: 0 0 42px #f09, 0 0 82px #f09, 0 0 92px #f09, 0 0 102px #f09,
          0 0 151px #f09;
      }
      .info {
        height: 280px;
        width: 280px;

        .thumbnail {
          height: 80px;
          width: 80px;

          .play_pause {
            position: absolute;
            left: 18%;
            top: 18%;
            font-size: 3rem;
          }
        }

        .volume {
          span {
            justify-self: center;
            height: 20px;
            width: 20px;
            background-color: $bg-color;
            font-weight: 500;
          }
          &:hover span {
            transform: scale(1);
            width: 25px;
            height: 25px;
          }

          .volume-progress {
            display: none;
          }
        }
        .speed {
          button {
            height: 25px;
            width: 25px;
            padding: 0;

            p {
              display: none;
            }
          }

          .speed-dropdown {
            a {
              font-size: xx-small;
            }
          }
        }

        .action {
          .song {
            text-align: center;
            font-size: small;

            .name {
              line-height: normal;
              font-size: large;
            }

            .singer {
              line-height: normal;
              font-size: small;
            }
          }
          .time {
            font-size: xx-small;
          }
        }
      }
    }
  }
}
